@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: url("/src/img/cursor2.svg"), auto;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
::selection {
  background-color: var(--hot-purple);
  color: white;
}

:root {
  --gray: #d4d4d4;
  --hot-purple: #7421fc;
  --purple: #a78bfa;
  --white: #fff;
  --black: #171719;
}

/*
*/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
  width: 100%;
  height: 120px;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left-menu ul {
  display: flex;
  width: 100%;
  gap: 4rem;
}

.nav-left-menu ul li {
  list-style-type: none;
  color: #505050;
  font-size: 1rem;
  font-weight: 600;
}

.nav-left-menu ul li:hover {
  color: var(--hot-purple);
}

.nav-right a button {
  width: 160px;
  height: 50px;
  background-color: var(--hot-purple);
  border-radius: 30px;
  border: none;
  transition: 0.5s all ease;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right a button h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.nav-right a button:hover {
  cursor: url("/src/img/cursor2.svg"), auto;
  border-radius: 5px;
  scale: 1.1;
  transition: 0.5s all ease-out;
}

.nav-right a button:not(:hover) {
  transition: 0.5s ease-out;
}

.nav-right img {
  width: 25px;
}

/*
*/

.header-background {
  background-image: url(/src/img/backgroundss.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/* Text */

.home-title {
  width: 100%;
  height: 100%;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  flex-direction: column;
}

.home-title h1 {
  margin-top: 10rem;
}

.home-title h1 span {
  color: var(--hot-purple);
}

.home-description p {
  height: 80px;
}

.home-title span img {
  top: 41.5%;
  left: 42.2%;
  position: absolute;
  width: 21%;
}

.home-title p {
  margin-top: 2rem;
  text-align: left;
  font-size: 20px;
}

.home-avatar {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.home-avatar img {
  width: 70px;
  transition-property: transform margin;
  transition-duration: 300ms;
}

.home-avatar img:hover {
  transform: translateY(-12px);
  margin-bottom: 0;
}

.home-avatar img:not(:first-child) {
  margin-left: -25px;
}

/* */

.animated-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--hot-purple);
  animation: typing 2s steps(20, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--hot-purple);
  }
}

/*
*/

.trusted-side {
  background-image: url(/src/img/partner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  overflow: hidden;
}


.trusted-side span {
  color: var(--hot-purple);
  font-weight: 700;
  font-size: 1.3rem;
  animation: slide 5s infinite linear;
}

.trusted-side span:nth-child(odd) {
  color: var(--purple);
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

marquee span {
  margin-left: 10%;
}
/*
*/

.nav-test {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 39%;
  width: 420px;
  height: 55px;
  background-color: rgba(9, 9, 9, 0.4);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-test ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-test ul li a {
  text-decoration: none;
  color: var(--white);
}

.nav-test ul li {
  font-size: 0.9rem;
  list-style-type: none;
}

.nav-test .nav-test-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--black);
}

/*
*/

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.projects-picture {
  display: grid;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box3 box4 box4 box5";
  width: 900px;
  height: 500px;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.box {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: grayscale(100%);
}

.box:hover {
  filter: grayscale(0%);

}

.box-1 {
  grid-area: box1;
  background-image: url(/src/img/grid2img.png);
  background-size: cover;
  background-position: center;
}

.box-2 {
  grid-area: box2;
  background-image: url(/src/img/grid1img.png);
  background-size: cover;
  background-position: center;
}

.box-3 {
  grid-area: box3;
  background-image: url(/src/img/grid3img.png);
  background-size: cover;
  background-position: center;
}

.box-4 {
  grid-area: box4;
  background-image: url(/src/img/grid5img.png);
  background-size: cover;
  background-position: center;
}

.box-5 {
  grid-area: box5;
  background-image: url(/src/img/grid4img.png);
  background-size: cover;
  background-position: center;
}


/*
*/

.team-background {
  background-image: url(/src/img/teamss.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 1;
}

.team-container {
  margin-top: 15rem;
}

.team-container h1 {
  text-align: center;
}

.team-bg {
  background-color: transparent;
  width: 265px;
  height: 350px;
  border-radius: 25px;
  margin-top: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team-background img {
  width: 110px;
  margin-bottom: 2%;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  flex-direction: column;
}

.flx h2 {
  font-size: 19px;
}

.flx a {
  text-decoration: none;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  border-bottom: 1px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
}
.icons img {
  width: 31px;
  transition: transform 0.3s ease-in-out;
}

.team-container p {
  font-size: 17px;
  font-weight: 500;
  padding-top: 0.5rem;
  text-align: center;
}

.team-container p span {
  color: var(--hot-purple);
}

.team-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
}

.team-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
}

.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: url("/src/img/cursor2.svg"), auto;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  background-color: var(--hot-purple);
  width: 200px;
  height: 60px;
}

.marquee img {
  width: 15%;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 10em;
  --start: 20em;
  --end: 10em;
  -webkit-animation: marquee 2s linear infinite;
  animation: marquee 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

.team-btn-i {
  display: flex;
  background-color: var(--hot-purple);
  border: 1px solid var(--gray);
  width: 250px;
  height: 60px;
  border-radius: 30px;
}

.team-btn a img {
  width: 12%;
}

/*
*/

.footer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 20rem;
}

.footer .footer-top h1 {
  font-size: 25px;
  font-weight: 600;
}

.footer .footer-top p {
  padding-top: 0.5rem;
  font-size: 18px;
  font-weight: 400;
}

.footer .footer-top h2 {
  padding-top: 2rem;
  font-size: 50px;
}

.footer .footer-bottom {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom span {
  color: var(--hot-purple);
}

.zoey-social {
  display: flex;
  gap: 1rem;
}

.zoey-social a img {
  width: 100%;
}

.footer-bottom div:first-child {
  font-weight: 500;
}
